body{

  background-image: url("../imagenes/background.jpg");
  /*background-color: #1AB5AC;*/
  background-position: center; 
  background-repeat: no-repeat;

}

img{

  width: 10%;
  height: 10%;
}
.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.2s ease;
  
}

.btn-lg{
  border-radius: 500px;
  border-color: #00c4cc;
}
.navbar{
  margin: 10px;
  padding: 20px;

}
.insertar {
  padding: 10px;
	margin: 10px;
}
footer {
  background-color: #00c4cc;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
}
.btn-group{

color: red;


}
.btn-outline-info:hover{

background-color: #00c4cc;
border-color: #00c4cc;
border-radius: 500px;
  margin-inline-end: 10px;

}
